@model FCFAEFramework.Models.Service

@{
    ViewBag.Title = "Create";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">

    </script>


</head>
<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Service</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ServiceName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ServiceName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ServiceName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Banner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Banner, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Banner, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" ,@type="date"} })
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>



        @*<div class="form-group">
                @Html.LabelFor(model => model.CompanyID, "CompanyID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("CompanyID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CompanyID, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <div class="form-group">

            <br><br><br><br>
            <div id="showDiv">
                <fieldset>
                    <legend>Consents</legend>
                    <label class="control-label col-md-2">Purpose </label>
                    <input type="text" name="Purpose" class="form-control" required/><br><br>
                    <label class="checkbox-inline"><input type="checkbox" name="Name"/><input type="hidden" name="Name" value="false"/>Name</label>
                    <label class="checkbox-inline"><input type="checkbox" name="Surname"/><input type="hidden" name="Surname" value="false" />Surname</label>
                    <label class="checkbox-inline"><input type="checkbox" name="Birthday"/><input type="hidden" name="Birthday" value="false" />Birthday</label>
                    <label class="checkbox-inline"><input type="checkbox" name="Address"/><input type="hidden" name="Address" value="false" />Address</label>
                    <label class="checkbox-inline"><input type="checkbox" name="PersonalNo"/><input type="hidden" name="PersonalNo" value="false" />Personal Number</label>
                    <label class="checkbox-inline"><input type="checkbox" name="TelephoneNo"/><input type="hidden" name="TelephoneNo" value="false" />Telephone Number</label><br><br>
                </fieldset>
            </div>
            <button id="btn" onclick="myFunction()" type="button" class="btn-primary">Add more</button>





            @*<a href='@Url.Action("Add", "Consents")'>
            Add new Consent
        </a>*@

        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>

    function myFunction() {
        var x = document.getElementById("showDiv");
        x.innerHTML += '<div class="form-group"><br><br><label class="control-label col-md-2">Purpose </label>'
            + '<input type="text" name="Purpose" class="form-control" required/> <br><br>'
            + '<label class="checkbox-inline"><input type="checkbox" name="Name"/><input type="hidden" name="Name" value="false"/>Name</label>'
            + '<label class="checkbox-inline"><input type="checkbox" name="Surname"/><input type="hidden" name="Surname" value="false"/>Surname</label>'
            + '<label class="checkbox-inline"><input type="checkbox" name="Birthday"/><input type="hidden" name="Birthday" value="false"/>Birthday</label>'
            + '<label class="checkbox-inline"><input type="checkbox" name="Address"/><input type="hidden" name="Address" value="false"/>Address</label>'
            + '<label class="checkbox-inline"><input type="checkbox" name="PersonalNo"/><input type="hidden" name="PersonalNo" value="false"/>Personal Number</label>'
            + '<label class="checkbox-inline"><input type="checkbox" name="TelephoneNo"/><input type="hidden" name="TelephoneNo" value="false"/>Telephone Number</label></div><br><br>';

    }


</script>

