@model IEnumerable<FCFAEFramework.Models.Service>

@{
    ViewBag.Title = "Index";
}
@if (Model != null)
{


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            Company Name
            @Html.DisplayNameFor(model => model.Company.Name)
        </th>*@
        <th>
            Service Name
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.Company.Name)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ServiceName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Banner)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
}

</table>
}
else
{
    <h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
}
